<form
  class="capharnaum flexlarge flex-group-center grid-2col grid-span-2"
  autocomplete="off"
>
  <label class="align-center resource-label" for="skillRollDifficulty"
    >{{localize "LHTRPG.Difficulty"}}</label
  >
  <input class="abilityCheckDifficulty" type="number" value="0" />
  <label class="align-center resource-label" for="skillRollDiceNumber">
    {{localize "LHTRPG.NPlusMinus"}}
  </label>
  <input class="abilityCheckDiceNumber" type="number" value="0" />
  <label class="align-center resource-label" for="abilityCheckAttain"
    >{{localize "LHTRPG.AttainBonus"}}</label
  >
  <input class="abilityCheckAttain" type="number" value="0" />
</form>
